### 실습물 제출 가이드라인
- 아래에 주어진 코드들을 실행해서 python의 동작 원리를 이해하시오. 그리고, # M 으로 주어진 부분은 코드를 작성하고 실행하시오.
- 주어진 코드들을 다 실행해 보고 결과를 확인하면 3점을 부여합니다.
- "# M"으로 주어진 문제는 정확한 답을 작성하면 괄호 안에 표기된 점수가 부여됩니다. 코드의 진행 과정을 확인하기 위해 print()를 사용하는 것을 허용합니다

## list

In [34]:
# 1
# list indexing
L = [1, 2, 3, 4] # L = list(range(1,5))와 동일한 효과
print(L[0])
print(L[-1])

1
4

In [35]:
# M1 
# 본인이 원하는 list 변수 LL을 정의하고 
# 첫번째 요소와 마지막 요소를 출력하는 코드를 작성하시오. (0.2점)
LL = list(range(1,7))
print(LL[0])
print(LL[-1])

1
6

In [36]:
# 2 
# list with various data types
L = [1, 'hello', 2, 'good morning', 3]
L[3] = 'korea'
print(L)

[1, 'hello', 2, 'korea', 3]

In [1]:
# M2 
# 4개 이상의 서로 다른 데이터타입의 요소를 갖는 list 변수 combined_list를 정의하시오. (0.1점) 
# combined_list의 세번째 요소를 다른 값으로 변경하는 코드를 작성하시오. (0.1점)
combined_list = ['a', 'hello', 3, True]
combined_list[2] = 100

In [ ]:
# 3 
# '+' operation between lists
L1, L2 = [1, 3, 5, 7], [2, 4, 6, 8]
# L1, L2 = list(range(1,9,2)), list(range(2,9,2)) 
L = L1 + L2
print(L)

In [ ]:
# M3 
# [9, 8, 7, 6]과 [1, 2, 3, 4]를 변수 a_list, b_list에 각각 할당하고 
# 이들을 더해서 새로운 list 변수 c_list를 만들어 c_list를 출력하는 코드를 작성하시오. (0.1점)
a_list = [9, 8, 7, 6]
b_list = [1, 2, 3, 4]
c_list = a_list + b_list
print(c_list)

In [7]:
# 4  
# '*' opration of list
zeros = [0]*10
print(zeros)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [43]:
# M4
# '@@'가 20개인 list를 만드는 코드를 4번 코드를 참고하여 작성하시오. (0.1점)
L_at = ['@@'] * 20
print(L_at)

['@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@', '@@']

In [55]:
# 5 
# comparison bewteen lists
print([1, 2, 3] == [1, 2, 3])   
print([1, 2, 3] != [4, 5, 6])

True
True

In [10]:
# 6 
# comparison bewteen lists
print([1, 2, 3] < [1, 2, 4])               
print([2, 3] > [1, 2, 3])                    
print (['a', 2, 'cd'] <= ['b', 1, 'cd'])

True
True
True

In [56]:
# M5 
# 두 개의 list 변수 a_list와 b_list를 정의하고, 
# 이 list들에 대해 5, 6번에 있는 비교 operation들을 적용하고 
# 그 결과를 출력하시오. (0.2점)
a_list = [1, 2, 3]
b_list = [2, 3, 4]
print(a_list == b_list)
print(a_list != b_list)
print(a_list < b_list)
print(a_list > b_list)
print(a_list <= b_list)
print(a_list >= b_list)

False
True
True
False
True
False

In [12]:
# 7 
# append a new element to a list
L = ['hello', 'good morning', 'hi']
L.append('good bye')
print(L)

['hello', 'good morning', 'hi', 'good bye']

In [63]:
# M6 
# 아래의 list L에 'good night'을 추가하는 코드를 작성하되, 
# append()를 사용하여 추가하기 (0.1점)
L = ['hello', 'good morning', 'hi']
L.append('good night')
print(L)

# '+' 연산을 사용하여 추가하기 (0.1점)
L = ['hello', 'good morning', 'hi']
L += ['good night']
print(L)

['hello', 'good morning', 'hi', 'good night']
['hello', 'good morning', 'hi', 'good night']

In [14]:
# 8 
# list sorting
L = list(range(1,9,2)) + list(range(2,9,2))
L.sort()
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

## tuple

In [15]:
# 9  
# tuple creation 
my_tuple = tuple([1, 2, 3, 4, 5]) 
print(my_tuple)

my_tuple_r = tuple(range(1,6))
print(my_tuple_r)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [16]:
# 9-1 
# tuple indexing 
print(my_tuple[0])

1

In [17]:
# 9-2 
# negative indexing: accessing elements in reverse order
print(my_tuple[-1])

5

In [18]:
# 9-3 
# slicing [start:end:step]
print(my_tuple[1:4:2])

(2, 4)

In [5]:
# M7 
# 7개 이상의 요소를 갖는 tuple 변수인 sample_tuple을 만들고,
# 첫 번째 요소, 마지막 요소를 출력하는 코드를 작성하시오. (0.2점)
# 9-3의 코드를 참고하여 두번째, 네번째, 여섯번째 요소만 추출해서 
# 새로운 변수에 저장하는 코드를 작성하시오. (0.2점)

sample_tuple = tuple(range(1,11)) # 1 2 3 4 5 6 7 8 9 10
print(sample_tuple[0])
print(sample_tuple[-1])

new_tuple = sample_tuple[1:6:2]

print(new_tuple)

1
10
(2, 4, 6)

In [20]:
# 10 
# tuple addition
new_tuple = my_tuple + (6, 7)
print(new_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [6]:
# M8 
# range()를 사용해서 
# 6부터 10까지의 정수를 원소로 갖는 num_tuple1을 만드는 코드를 작성하시오 (0.2점)
# 1부터 5까지의 정수를 원소로 갖는 num_tuple2를 민드는 코드를 작성하시오 (0.2점)
# num_tuple1과 num_tuple2를 사용해서 
# 1부터 10까지의 정수를 원소로 갖는 num_tuple3를 만드는 코드를 작성하시오. (0.2점)

num_tuple1 = tuple(range(6,11))
print(num_tuple1)

num_tuple2 = tuple(range(1,6))
print(num_tuple2)

num_tuple3 = num_tuple2 + num_tuple1
print(num_tuple3)

(6, 7, 8, 9, 10)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [22]:
# 11
# '*' opration of tuple
new_tuple = (1, 2, 3) * 2
print(new_tuple)

(1, 2, 3, 1, 2, 3)

In [23]:
# 11-1
# '*' opration of tuple (single element)
duplicate_tuple = (2,)*2 # ,가 없으면 단순한 숫자 하나를 ()로 싸고 있는 것으로 이해       
print(duplicate_tuple)

(2, 2)

In [24]:
# 11-2
# membership check
my_tuple = (1, 2, 3, 4, 5) # my_tuple = tuple(range(1,6))와 동일

print(3 in my_tuple)

True

In [25]:
# 11-3
# multiple variables assignment
my_tuple = (1, 2, 3, 4, 5) # my_tuple = tuple(range(1,6))와 동일

a, b, c, d, e = my_tuple
print(a, b, c, d, e)

1 2 3 4 5

In [9]:
# M9  
# 11-1과 11-3을  참고하여 하나의 할당문으로 4개의 변수 a, b, c, d에 30을 할당하는 코드를 작성하시오. (0.2점)
a, b, c, d = (30,)*4

In [ ]:
## set

In [10]:
# 12  
# set 만들기
s1 = {1, 7, 2}
print(s1)

{1, 2, 7}

In [11]:
# 13 
# set 만들기: string을 set으로 변환
s2 = set('hello')
print(s2)

{'l', 'h', 'o', 'e'}

In [12]:
# 14 
# set 만들기: string을 list로 변환하고 이를 다시 set으로 변환 
s3=set(list('swallow')) # list('swallow') ==> ['s','w','a','l','l','o','w']
print(s3)
print(sorted(s3)) 
print(s3)

{'a', 'o', 'l', 'w', 's'}
['a', 'l', 'o', 's', 'w']
{'a', 'o', 'l', 'w', 's'}

In [13]:
# 15 
# set 안에 요소가 있는지 확인
print (7 in s1)
print (4 not in s1)

True
True

In [14]:
# 16 
# set에 요소 추가
s1.add(5)
print(s1)

{1, 2, 5, 7}

In [15]:
# M10
# 5개의 요소를 갖는 set인 변수 sample_set을 정의하고, 
# 새로운 요소를 하나 추가하고 sample_set을 출력하는 코드를 작성하시오 (0.3점)
sample_set = {1, 2, 3, 4, 5}
sample_set.add(6)
print(sample_set)

{1, 2, 3, 4, 5, 6}

In [33]:
# 17 합집합, 교집합, 차집합 구하기
s1={'Bison', 'Moose', 'Deer', 'Lynx', 'Wolf', 'Beaver', 'Otter'}
s2={'Dog', 'Lion', 'Deer', 'Lynx', 'Wolf', 'Cat', 'Chiken'}
print("Union:", end=" ")
print(s1 | s2)
print("Intersection:", end=" ")
print(s1 & s2)
print("Difference:", end=" ")
print(s1 - s2)

Union: {'Beaver', 'Lion', 'Bison', 'Dog', 'Otter', 'Cat', 'Lynx', 'Wolf', 'Chiken', 'Deer', 'Moose'}
Intersection: {'Wolf', 'Deer', 'Lynx'}
Difference: {'Beaver', 'Otter', 'Moose', 'Bison'}

In [34]:
# 18 
# 합집합, 교집합, 차집합 구하기
s3 = s1 | s2
print(s3 > s2)
print(s2 <= s1)

True
False

In [20]:
# M11
# 두 개의 string 'floccinaucinihilipilification'과 
#'hippopotomonstrosesquippedaliophobia'에 공통으로 사용된 글자를 
# 출력하는 코드를 작성하시오 (0.2점)
print(set('floccinaucinihilipilification') & set('hippopotomonstrosesquippedaliophobia'))

{'p', 'a', 'i', 'h', 'o', 'n', 'l', 'u', 't'}

In [44]:
# M12
# len()이라는 함수를 사용하면 set의 원소의 갯수를 알 수 있다
# kang이 광철, 엘전, 포스, 현모의 주식을 보유하고 있고,
# kim이 광철, 동지, 전공, 포스의 주식을 보유하고 있을 때,
# 두 사람의 sorensen-dice index와 jaccard index를 계산하여 출력하는 코드를 작성하시오 (1점)

kang = {'광철', '엘전', '포스', '현모'}
kim = {'광철', '동지', '전공', '포스'}

num_union = len(kang | kim)
num_intersc = len(kang & kim)
sum_of_num = len(kang) + len(kim)

jac_index = num_intersc / num_union
soren_index = 2 * num_intersc / sum_of_num
print(jac_index)
print(soren_index)

0.3333333333333333
0.5

## Dictionary

In [24]:
# 과일 이름 영한사전
dict_a = {'apple':'사과', 'banana':'바나나', 'kiwi':'키위'}

In [38]:
# 19
print('apple' in dict_a)      # key가 ‘apple’인 item이 dict_a에 있는지 확인, True/False
print('melon' in dict_a)
print('바나나' in dict_a)

True
False
False

In [39]:
# 20
print(dict_a['apple'])        # key가 ‘apple’인 item의 value 읽기

사과

In [40]:
# 21
dict_a['watermelon'] = '수박'   # key가 ‘watermelon’인 item 추가, value는 ‘수박’
print(dict_a)

{'apple': '사과', 'banana': '바나나', 'kiwi': '키위', 'watermelon': '수박'}

In [41]:
# 22
print(dict_a.get('apple'))    # key가 ‘apple’인 item의 value 출력
print(dict_a.get('cocoa', "not yet")) # key가 ‘cocoa’인 item이 없으면 ‘not yet’ 출력

사과
not yet

In [42]:
# 23
del dict_a['banana']           # key가 ‘banana’인 item 삭제
print(dict_a)

{'apple': '사과', 'kiwi': '키위', 'watermelon': '수박'}

In [43]:
# 24
dict_b= {'banana':'바나나', 'kiwi':'키위', 'apple':'사과'}
print(dict_b == dict_a)

False

In [44]:
# M13
# 사과(apple), 복숭아(peach), 배(pear), 딸기(berry), 포도(grape)에 대한 한영사전 dict_ko_eng를 만들고,
# 토마토(tomato)를 추가하고 (0.1),
# 딸기의 영어 표현을 strawberry로 변경하고 (0.1),
# 포도의 영어 표현이 무엇인지 알아내는 코드를 두 가지로 작성하시오. (0.1점)