### 실습물 제출 가이드라인
- 아래에 주어진 코드들을 실행해서 python의 동작 원리를 이해하시오. 그리고, # M 으로 주어진 부분은 코드를 작성하고 실행하시오.
- 주어진 코드들을 다 실행해 보고 결과를 확인하면 3점을 부여합니다.
- "# M"으로 주어진 문제는 정확한 답을 작성하면 표기된 점수가 부여됩니다.

## Pandas series

#### series 만들기 기본
_import pandas as pd  
var = pd.Series(data_list, index_list)_

In [ ]:
import pandas as pd

In [ ]:
# 1
# label index 없이 data만 제시, 자동으로 RangeIndex부여
data_series = pd.Series(range(10))
print(data_series)

In [ ]:
# 2
# label index 없이 data만 제시, 자동으로 RangeIndex 부여
l = [9, 8, 7, 6, 5]
data_series = pd.Series(l)
print(data_series)

In [ ]:
# 3
# label index 없이 data만 제시, 자동으로 숫자 index 부여
t = (9, 8, 7, 6, 5)
data_series = pd.Series(t)
print(data_series)

In [ ]:
# 4
# label index 없이 data만 제시, 자동으로 RangeIndex 부여
# data로 set을 그대로 사용할 수 없음. list로 변환 후 data로 사용
my_set = {3, 1, 2}
data_series = pd.Series(list(my_set))  
print(data_series)

In [ ]:
# 5
# index 없이 data만 제시, 자동으로 숫자 index 부여
import numpy as np

data_series = pd.Series(np.random.randint(1,20,5)) 
print(data_series)

In [ ]:
# 6-1
# data와 label index를 별도의 list로 제공, label index를 사용해서 data 접근 가능
data_list=[1, 2, 3]; index_list=['a', 'b', 'c']
data_index_series = pd.Series(data_list, index_list)
print(data_index_series)

In [ ]:
# 6-2
print(data_index_series['a'])
print(data_index_series['b'])

In [ ]:
# 7-1
# dictionary를 주면, key를 index로 value를 data로 사용

dict_example = {"a": 1, "b": 2, "c": 3}
series_from_dict = pd.Series(dict_example)

print(series_from_dict)

In [ ]:
# 7-2
print(series_from_dict['a'])

In [ ]:
# 8-1
# tuple의 list를 dictionary로 전환해서 series 생성에 사용 가능
# tuple의 첫번째 요소를 index label로 사용하고자 함
l = [('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

data_series = pd.Series(dict(l))
print(data_series)

In [ ]:
# 8-2
print(data_series['a'])

In [ ]:
# 9-1 
# 다양한 data type의 element 허용

str_series = pd.Series(('10', '20', '30', '40', '50'))
print(str_series)

In [ ]:
# 9-2
float_series = pd.Series((3.2, 4.3, 5.4, 6.5, 7.6))
print(float_series)

In [ ]:
# 9-3
list_series = pd.Series([[1,2], [3,4], [5,6], [7,8], [9,10]])
print(list_series)

In [ ]:
# 9-4
set_series = pd.Series([{1,2}, {3,4}, {5,6}, {7,8}, {9,10}])
print(set_series)

In [ ]:
# 9-5
tuple_series = pd.Series([(1,2), (3,4), (5,6), (7,8), (9,10)])
print(tuple_series)

In [ ]:
# 9-6
dict_series = pd.Series([{1:2, 3:4}, {5:6, 7:8}, {9:10, 11:12}])
print(dict_series)

In [ ]:
# 9-7
import numpy as np
arr_series = pd.Series([np.array([1,2]), np.array([2,3]), np.array([3,4]), 
                    np.array([4,5]), np.array([5,6])])
print(arr_series)

In [ ]:
# 9-8
# 하나의 series에 서로 다른 요소 포함 가능
mixed_series = pd.Series([1, 2, 3, 'total'])
print(mixed_series)

#### indexing, slicing

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 10-1
l = [9, 8, 7, 6, 5]
data_series = pd.Series(l)

# index를 별도로 제공하지 않은 경우는, position을 사용해서 data 읽기
print(data_series[1])

In [ ]:
# 10-2
# index1부터 3까지의 구간 읽기, 결과물의 data type은 series
print(data_series[1:4])  # ending index 미포함

In [ ]:
# 10-3
print(type(data_series[1:4]))

In [ ]:
# 10-4
# index1부터 3까지의 구간을 한 행씩 걸러서 읽기, 결과물의 data type은 series
print(data_series[1:4:2])

In [ ]:
# 11-1
l = [9, 8, 7, 6, 5, 4, 3]
data_series = pd.Series(l)
data_series[1] = 5
print(data_series)

In [ ]:
# 11-2
data_series[1:3] = 9  
print(data_series)

In [ ]:
# 11-3
data_series[4:7] = (2, 6, 8)
print(data_series)

In [ ]:
# 11-4
data_series[1:4:2] = (2, 4)
print(data_series)

In [ ]:
# 12-1
# series에 직접 indexing과 slicing 적용하기
d = {"a": 1, "b": 2, "c": 3}
s = pd.Series(d)

# 생성 시에 사용한 index label을 사용해서 접근 가능하며, 기본적으로 숫자 index 사용 가능
print(s['a'], s.iloc[0])

In [ ]:
# 12-2
# label index가 사용되는 경우, slicing에서 ending index 포함
print(s['a':'b'])

In [ ]:
# 12-3
# RangeIndex가 사용되는 경우, slicing에서 ending index 미포함
print(s[0:1])

In [ ]:
# 12-4
# 한꺼번에 값 바꾸기
s[0:2] = [4, 2]
print(s)

In [ ]:
# 13-1
# loc을 사용한 indexing과 slicing 
# label index 사용

d = {"a": 1, "b": 2, "c": 3}
s = pd.Series(d)

# loc을 사용할 시에는 생성 시에 부여한 label index 사용
print(s.loc['a'])

In [ ]:
# 13-2
# label index가 사용되는 경우, slicing에서 ending index 포함
print(s.loc['a':'b'])

In [ ]:
# 13-3
# 특정 구간의 값 한꺼번에 변경
s.loc['a':'b'] = 7
print(s)

In [ ]:
# 13-4
s.loc[['a','c'] = 9
print(s)

In [ ]:
# 13-5
s.loc['d'] = 10
print(s)

In [ ]:
# 14-1
# iloc을 사용한 indexing과 slicing 
# position 사용

d = {"a": 1, "b": 2, "c": 3}
s = pd.Series(d)

# iloc을 사용할 시에는 RangeIndex를 사용
print(s.iloc[0])

In [ ]:
# 14-2
# RangeIndex를 사용하는 경우, slicing에서 ending index 미포함
print(s.iloc[0:1])

In [ ]:
# 14-3
s.iloc[0:1] = 7
print(s)

In [ ]:
# 15-1
# at, iat을 사용한 indexing
d = {"a": 1, "b": 2, "c": 3}
s = pd.Series(d)

print(s.at['a'])

In [ ]:
# 15-2
print(s.iat[0])

In [ ]:
# 15-3
s.at['b'] = 4
print(s)

In [ ]:
# 15-4
s.iat[2] = 7
print(s)

In [ ]:
# 16-1
# label index가 숫자인 경우
import pandas as pd

d = {5: 'A', 6: 'B', 7: 'C'}
s = pd.Series(d)

print(s[5]) # s[0]은 오류

In [ ]:
# 16-2
print(s[0:2]) # RangeIndex로 해석, s[5:7]은 empty series

In [ ]:
# 16-3
print(s.iloc[0])

In [ ]:
# 16-4
print(s.iloc[0:2]) # iloc은 RangeIndex 사용

In [ ]:
# 16-5
print(s.loc[5])  # loc은 Series 생성 시에 부여한 label index 사용

In [ ]:
# 16-6
print(s.loc[5:7]) # loc은 ending index 포함

In [ ]:
# 17-1
d = {"a": 1, "b": 2, "c": 3, 'd':6, 'e':7, 'f':8}
s = pd.Series(d)
s['b'] = 5
print(s)

In [ ]:
# 17-2
s.iloc[2] = 7
print(s)

In [ ]:
# 17-3
s['c':'f'] = range(4,17,4)
print(s)

In [ ]:
# 18-1
index_list = ['a', 'b', 'c', 'd', 'e', 'f']
value_list = list(np.random.randint(1,10,6))
s = pd.Series(value_list, index_list)
print(s)

In [ ]:
# 18-2
print(s.index)
print(s.index[0], s.index[-1])

In [ ]:
# 18-3
print(s.values)
print(s.values[0], s.values[-1]) # list indexing, 결과는 s[0], s[-1]과 동일

In [ ]:
# 18-4
import numpy as np

# Series 생성 후에도 label index 변경 가능
s.index = np.random.choice(['a', 'b', 'c', 'd', 'e', 'f'], 6, replace=False)
print(s)

In [ ]:
# 18-5
s.values[3:5] = 10
print(s)

#### Series operation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 19-1
data = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(data)

# 새로운 label index를 사용함으로써 element 추가
data['d'] = 40
print(data)

In [ ]:
# 19-2
new_data = pd.Series({'e': 50, 'f': 60})
# Series 확장하기
data = pd.concat([data, new_data]) # 새로운 Series가 만들어짐
print(data)9

In [ ]:
# 20-1
series = pd.Series([10, 20, 30, 40, 50])

# 산술 연산이 Series내 모든 element에 적용됨
series_sum = series + 20
print(series_sum)

In [ ]:
# 20-2
series_prod = series * 2
print(series_prod)

In [ ]:
# 20-3
series_sub = series - 10
print(series_sub)

In [ ]:
# 20-4
# 비교 연산이 Series내 모든 element에 적용됨

condition_series = series >= 30
print(condition_series)

In [ ]:
# 21-1
# string element들에 대해 '+' 연산 가능
series = pd.Series(['10', '20', '30', '40', '50'])

series_sum = series + '20'
print(series_sum)

In [ ]:
# 21-2
# string element들에 대해 '*' 연산 가능
series_prod = series * 3
print(series_prod)

In [ ]:
# 22-1
# list element들에 대해서 '*' 연산 가능
series = pd.Series([[1,2], [3,4], [5,6], [7,8], [9,10]])

series_prod = series * 3 
print(series_sum)

In [ ]:
# 22-2
# list element들에 대해서 '+'는 오류

series_sum = series + [2,3]  # 오류 
print(series_sum)

In [ ]:
# 23-1
# numpy array type에 맞춰서 연산 수행
import numpy as np

series = pd.Series([np.array([1,2]), np.array([1,2]), np.array([1,2]), 
                    np.array([1,2]), np.array([1,2])])

series_sum = series + 2
print(series_sum)

In [ ]:
# 23-2
series_sum = series * 3
print(series_sum)

In [ ]:
# 24-1
# Series 간 연산
series1 = pd.Series([10, 20, 30, 40, 50])
series2 = pd.Series([2, 3, 34, 5, 65])

series_sum = series1 + series2
print(series_sum)

In [ ]:
# 24-2
series_prod = series1 * series2
print(series_prod)

In [ ]:
# 24-3
series_sub = series1 - series2
print(series_sub)

In [ ]:
# 24-4
condition_series = series1 >= series2
print(condition_series)

In [ ]:
# 25-1
# string data type도 연산 가능
series1 = pd.Series(['10', '20', '30', '40', '50'])
series2 = pd.Series(['2', '3', '34', '5', '65'])

series_sum = series1 + series2
print(series_sum)

In [ ]:
# 25-2
# string data type도 연산 가능
series1 = pd.Series(['10', '20', '30', '40', '50'])
series2 = pd.Series([1, 2, 3, 4, 5])

series_sum = series1 * series2
print(series_sum)

In [ ]:
# 26-1 
# list element들도 연산 가능
series1 = pd.Series([[1,2]]*5)
print(series1)

series2 = pd.Series([[2,3]]*5)
print(series2)

series_sum = series1 + series2
print(series_sum)

In [ ]:
# 27-1
# label index가 있는 series 간 연산
# label index의 순서가 서로 다른 series의 덧셈

import pandas as pd

series1 = pd.Series([1, 2, 3], index=['b', 'a', 'c'])
print(series1)

series2 = pd.Series([4, 5, 6], index=['a', 'b', 'c'])
print(series2)

add_series = series1 + series2 # index label이 동일한 element들끼리 덧셈
print(add_series)

In [ ]:
# 28
# label index가 서로 다른 series의 덧셈

import pandas as pd

series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(series1)

series2 = pd.Series([4, 5], index=['a', 'd'])
print(series2)

add_series = series1 + series2
print(add_series)

In [ ]:
# 29
# boolean indexing
series = pd.Series([10, 20, 30, 40, 50])
print("Original Series:")
print(series)

condition_series = pd.Series([False, False, True, True, True])
# condition_series = pd.Series([0, 0, 1, 1, 1])
result_series = series[condition_series]
print(result_series)

In [ ]:
# 30-1
import pandas as pd

series = pd.Series([70, 50, 60, 45, 80], 
                   index = ['kang', 'kim', 'lee', 'hong', 'cho'])
print("Original Series:")
print(series)

print("after boolean indexing: search")
# boolean indexing: 조건에 부합하는 행만 추출하기
print(series[series >= 60])  # value가 60보다 크거나 같은 행만 True가 되어 선택

In [ ]:
# 30-2
print("after boolean indexing: replace")
# boolean indexing: 조건에 부합하는 행만 값을 바꾸기
series[series < 60] = -10
print(series)

In [ ]:
# 31
# boolean indexing: 조건에 부합하는 행만 추출하기
# 각 사람이 좋아하는 과일을 series로 관리
favorites = pd.Series(['apple', 'peach', 'pear', 'orange', 'strawberry'], 
                      index = ['kang', 'kim', 'lee', 'hong', 'cho'])

available = ['pear', 'apple']  # 현재 갖고 있는 과일 목록

# 누구에게 어떤 과일을 줄 수 있을까
print(dict(favorites[favorites.isin(available)]))

#### Methods

In [ ]:
# 32-1
sample_list= [170, 144, 156, 177, 181, 188, 181, 161]
name_list=['kang', 'kim', 'lee', 'woo', 'cho', 'jang', 'park', 'choi']

mySeries = pd.Series(sample_list, name_list)
mySeries.name='height'

print(mySeries)

In [ ]:
# 32-2
# Series의 정보 확인
print(mySeries.describe())

In [ ]:
# 32-3
# 통계값 확인 
print('mean is ', mySeries.mean())  
print('median is ', mySeries.median())
print('std is %0.3f' % mySeries.std())
print('var is  %0.3f' % mySeries.var())
print('sum is ', mySeries.sum()) 
print('min is ', mySeries.min()) 
print('max is ', mySeries.max())
print('range is ', mySeries.max()-mySeries.min())

In [ ]:
# 32-4
value_counts_s=mySeries.value_counts(); 
print(value_counts_s)

In [ ]:
# 32-5
value_counts_bins=mySeries.value_counts(bins=3); 
print(value_counts_bins)

In [ ]:
# 32-6
value_counts_s_renew= value_counts_s.sort_index()
print(value_counts_s_renew)

In [ ]:
# 32-7
head_s= mySeries.head(3)
print(head_s)

In [ ]:
# 32-8
tail_s= mySeries.tail(3)
print(tail_s)

In [ ]:
# 32-9
print('n of unique is ',mySeries.nunique())
unique_l = mySeries.unique()
print(unique_l)

In [ ]:
# 32-10
value_sort_s = mySeries.sort_values()
print(value_sort_s)
print(value_sort_s.index)
print(f"smallest one is {value_sort_s.index[0]}")

In [ ]:
# 32-11
value_sort_s_r = mySeries.sort_values(ascending=False)
print(value_sort_s_r)
print(value_sort_s_r.index)
print(f"tallest one is {value_sort_s_r.index[0]}")

In [ ]:
# 32-12
# Series 내의 값 출력하기
for key, value in mySeries.items():
    print(f"{key:<5s}: {value}")

In [ ]:
# 참고용
# Series data로 꺾은선 그래프 그리기

import pandas as pd
import matplotlib.pyplot as plt

# 1. Pandas Series 데이터 생성
data = pd.Series(
    [35, 18, 30, 25, 22, 17, 45],
    index=["Sun", "Mon", "Tue", "Wed", "Thu", 
           "Fri", "Sat"]
)

# 2. 그래프 그리기
plt.figure(figsize=(8, 5))  # 그래프 크기 설정
data.plot(kind='line', marker='o', color='blue', label='Values')  # 라인 그래프
plt.title('Weekly Data (Running time)')  # 제목
plt.xlabel('Days')  # x축 레이블
plt.ylabel('Running time')  # y축 레이블
plt.grid(True)  # 그리드 추가
plt.show()

In [ ]:
# 참고용
# Series data로 막대그래프 그리기

import pandas as pd
import matplotlib.pyplot as plt

# 1. Pandas Series 데이터 생성
data = pd.Series(
    [35, 18, 30, 25, 22, 17, 45],
    index=["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
)

plt.figure(figsize=(8, 5))  # 그래프 크기 설정
data.plot(kind='bar', color='skyblue', alpha=0.8, label='Values')  # 막대그래프
plt.title('Weekly Data (Running time)')  # 제목
plt.xlabel('Days')  # x축 레이블
plt.ylabel('Running time')  # y축 레이블
plt.xticks(rotation=0)  # x축 레이블 각도 조정
plt.grid(axis='y', linestyle='--', alpha=0.7)  # y축 그리드 추가
plt.tight_layout()  # 레이아웃 조정
plt.show()

In [ ]:
# 참고용
# Series data로 파이차트 그리기

import pandas as pd
import matplotlib.pyplot as plt

# 1. Pandas Series 데이터 생성
data = pd.Series(
    [35, 18, 30, 25, 22, 17, 45],
    index=["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]
)

plt.figure(figsize=(8, 8))  # 그래프 크기 설정
data.plot(
    kind='pie', 
    autopct='%1.1f%%',  # 퍼센트 표시
    startangle=90,      # 시작 각도
    colors=plt.cm.Paired.colors,  # 색상 팔레트
    legend=True         # 범례 추가
)
plt.title('Weekly Data (Expenditure ratio)')  # 제목
plt.ylabel('')  # y축 레이블 제거
plt.show()

In [ ]:
# series 응용 사례
# 주식 자산 정보 관리
import pandas as pd

# 주식 종목과 현재 주가
stock_prices = {'AAPL': 150, 'MSFT': 200, 'GOOGL': 1200}

# 보유 주식 수
stock_holdings = {'AAPL': 10, 'MSFT': 5, 'GOOGL': 2}

# Pandas Series로 변환
prices_series = pd.Series(stock_prices)
holdings_series = pd.Series(stock_holdings)
print(prices_series)
print(holdings_series)

# 각 종목의 자산 가치 계산
asset_values = prices_series * holdings_series
print("각 종목의 자산 가치:")
print(asset_values)

# 총 자산 가치 계산
total_asset_value = asset_values.sum()
print("\n총 자산 가치: $", total_asset_value)