### 실습물 제출 가이드라인
- 아래에 주어진 코드들을 실행해서 python의 동작 원리를 이해하시오. 그리고, # M 으로 주어진 부분은 코드를 작성하고 실행하시오.
- 주어진 코드들을 다 실행해 보고 결과를 확인하면 3점을 부여합니다.
- "# M"으로 주어진 문제는 정확한 답을 작성하면 괄호 안에 표기된 점수가 부여됩니다.

## Variable and data types

In [50]:
# 1.1 변수는 할당문으로 생성한다
my_age = 19.5
print(my_age)

19.5

In [51]:
# 1.2 변수의 데이터 타입은 고정되지 않고 할당되는 값에 따라 변한다
my_age = 19
print(my_age)

19

In [52]:
# 2 다른 변수에 값을 복사할 수 있다
your_age = my_age
print(your_age)

19

In [53]:
# 3   두 개 이상의 변수에 동일한 값을 할당할 수 있다
his_age = her_age = 21
print(his_age, her_age)

21 21

In [54]:
# 4.1 하나의 문장으로 두 개 이상의 변수에 다른 값을 할당할 수 있다
his_age, her_age = 22, 21
print(his_age, her_age)

22 21

In [55]:
# 4.2 하나의 문장으로 두 개 이상의 변수에 다른 변수의 값을 할당할 수 있다
my_age, your_age = his_age, her_age
print(my_age, his_age, your_age, her_age)

22 22 21 21

In [56]:
# M1 
# 4.2와 같이, 하나의 문장으로 my_book에 "Jane Eyre", 
# your_book에 "The Old Man and the Sea"를 
# his_book에 "Pride and Prejudice"를 
# her_book에 "Anne of Green Gables"를 할당하시오. (0.2점)
my_book, your_book, his_book, her_book = "Jane Eyre", "The Old Man and the Sea", "Pride and Prejudice", "Anne of Green Gables"
print(my_book, your_book, his_book, her_book)

Jane Eyre The Old Man and the Sea Pride and Prejudice Anne of Green Gables

In [57]:
# 5
del his_age # his_age 라는 변수를 삭제하는 코드. 오류나는게 정상
print(his_age)

NameError: name 'his_age' is not defined

### Numeric data

In [58]:
# 6.1 정수 연산
a, b = 5, 13

# arithmetic operations
addition = a + b;          print(f"{a} + {b} = {addition}") # 한 줄에 여러 문장 쓰기 위해 세미콜론 사용        
subtraction = a - b;       print(f"{a} - {b} = {subtraction}")        
multiplication = a * b;    print(f"{a} * {b} = {multiplication}")      
division = a / b;          print(f"{a} / {b} = {division}")            
floor_division = a // b;   print(f"{a} // {b} = {floor_division}")     
remainder = a % b;         print(f"{a} % {b} = {remainder}")           
exponentiation = a ** b;   print(f"{a} ** {b} = {exponentiation}")

5 + 13 = 18
5 - 13 = -8
5 * 13 = 65
5 / 13 = 0.38461538461538464
5 // 13 = 0
5 % 13 = 5
5 ** 13 = 1220703125

In [59]:
# M2 
# 25를 4로 나눈 몫과 38을 7로 나눈 나머지를 더해서 출력하는 코드를 작성하시오 (0.1점)
print(25//4 + 38%7) # 우선순위때메 안에 소괄호 안써도 됨

9

In [60]:
# 6.2 정수 연산
a, b = 5, 13
# comparative operations
equal = a == b;               print(f"({a} == {b}) = {equal}")                     
not_equal = a != b;           print(f"({a} != {b}) = {not_equal}")               
less_than = a < b;            print(f"({a} < {b}) = {less_than}")              
greater_than = a > b;         print(f"({a} > {b}) = {greater_than}")             
less_than_or_equal = a <= b;  print(f"({a} <= {b}) = {less_than_or_equal}")      
greater_than_or_equal = a >= b; print(f"({a} >= {b}) = {greater_than_or_equal}")

(5 == 13) = False
(5 != 13) = True
(5 < 13) = True
(5 > 13) = False
(5 <= 13) = True
(5 >= 13) = False

In [61]:
# 6.3 정수 연산
a, b = 5, 13
# logical operations
logic_and = a and b;           print(f"({a} and {b}) = {logic_and}")         
logic_or = a or b;             print(f"({a} or {b}) = {logic_or}")         
logic_not = not a;             print(f"(not {a}) = {logic_not}")

(5 and 13) = 13
(5 or 13) = 5
(not 5) = False

In [62]:
# M3
# a와 b에 12와 16, c와 d에 -1과 -2를 할당하고 
# a가 b보다 작거나 같은지 비교한 값과,
# c가 d보다 작거나 같은지 비교한 값에 대해 
# and를 적용한 결과를 출력하는 코드를 작성하시오 (0.2점)
a, b = 12, 16
c, d = -1, -2
print(a<=b and c<=d) # 우선순위때메 안에 소괄호 안써도 됨

False

In [81]:
# 6.4 정수 연산
a, b = 5, 13
# 5  = 00000000 00000000 00000000 00000101
# 13 = 00000000 00000000 00000000 00001101
# bitwise operations 
bit_or = a | b;                print(f"({a} | {b}) = {bit_or}")            
bit_and = a & b;               print(f"({a} & {b}) = {bit_and}")          
bit_not = ~ a;                 print(f"(~ {a}) = {bit_not}")  
# 2의 보수 사용

(5 | 13) = 13
(5 & 13) = 5
(~ 5) = -6

In [82]:
# M4
# c와 d에 15와 7을 할당하고, 
# c와 d를 bitwise and 연산을 적용한 결과를 출력하는 코드를 작성하시오. (0.1점) 
c, d = 15, 7
print(c & d)

7

In [83]:
# 7.1 실수 연산
a, b = 12.2, 7.5

# arithmetic operations
addition = a + b;         print(f"{a} + {b} = {addition}")              
subtraction = a - b;      print(f"{a} - {b} = {subtraction}")         
multiplication = a * b;   print(f"{a} * {b} = {multiplication}")      
division = a / b;         print(f"{a} / {b} = {division}")                
exponentiation = a ** b;  print(f"{a} ** {b} = {exponentiation}")

12.2 + 7.5 = 19.7
12.2 - 7.5 = 4.699999999999999
12.2 * 7.5 = 91.5
12.2 / 7.5 = 1.6266666666666665
12.2 ** 7.5 = 140507248.76547894

In [84]:
# M5
# c와 d에 15.2와 7.2를 할당하고, 
# c와 d의 차이를 구해서 c에 곱한 결과를 출력하는 코드를 작성하시오. (0.1점) # M3
c, d = 15.2, 7.2
print((c-d) * c)

121.59999999999998

In [47]:
# 7.2 실수 연산
a, b = 12.2, 7.5
# comparative operations
equal = a == b;               print(f"({a} == {b}) = {equal}")                     
not_equal = a != b;           print(f"({a} != {b}) = {not_equal}")               
less_than = a < b;            print(f"({a} < {b}) = {less_than}")              
greater_than = a > b;         print(f"({a} > {b}) = {greater_than}")             
less_than_or_equal = a <= b;  print(f"({a} <= {b}) = {less_than_or_equal}")      
greater_than_or_equal = a >= b; print(f"({a} >= {b}) = {greater_than_or_equal}")

(12.2 == 7.5) = False
(12.2 != 7.5) = True
(12.2 < 7.5) = False
(12.2 > 7.5) = True
(12.2 <= 7.5) = False
(12.2 >= 7.5) = True

In [48]:
# 7.3 실수 연산
a, b = 12.2, 7.5
# logical operations
logic_and = a and b;           print(f"({a} and {b}) = {logic_and}")         
logic_or = a or b;             print(f"({a} or {b}) = {logic_or}")         
logic_not = not a;             print(f"(not {a}) = {logic_not}")

(12.2 and 7.5) = 7.5
(12.2 or 7.5) = 12.2
(not 12.2) = False

In [86]:
# M6 
# a와 b에 12.5와 16.1, c와 d에 -1.2과 -2.3를 할당하고 
# a가 b보다 작거나 같은지 비교한 값과,
# c가 d보다 작거나 같은지 비교한 값에 대해 and를 적용한 결과를 출력하는 코드를 작성하시오 (0.2점)
a, b = 12.5, 16.1
c, d = -1.2, -2.3
print(a<=b and c<=d) # 우선순위 때문에 괄호없이 가능

False

In [87]:
# 8.1 복소수 연산
a, b =  4+3j, 3+4j

# arithmetic operations
addition = a + b;         print(f"{a} + {b} = {addition}")            
subtraction = a - b;      print(f"{a} - {b} = {subtraction}")        
multiplication = a * b;   print(f"{a} * {b} = {multiplication}")      
division = a / b;         print(f"{a} / {b} = {division}")           
exponentiation = a ** b;  print(f"{a} ** {b} = {exponentiation}")

(4+3j) + (3+4j) = (7+7j)
(4+3j) - (3+4j) = (1-1j)
(4+3j) * (3+4j) = 25j
(4+3j) / (3+4j) = (0.96-0.28j)
(4+3j) ** (3+4j) = (-4.687194290598313+8.29617477460759j)

In [88]:
# 8.2 복소수 연산
a, b =  4+3j, 3+4j

# comparative operations
equal = a == b;               print(f"({a} == {b}) = {equal}")                     
not_equal = a != b;           print(f"({a} != {b}) = {not_equal}")

((4+3j) == (3+4j)) = False
((4+3j) != (3+4j)) = True

In [89]:
# 8.3 복소수 연산
a, b =  4+3j, 3+4j

# logical operations 
# 파이썬에서, and 할 때 앞에 인자가 0이 아니면 뒤에 인자를 그대로 출력함.
# 파이썬에서, or 할 때 앞에 인자가 1이 아니면 뒤에 인자를 그대로 출력함.
logic_and = a and b;           print(f"({a} and {b}) = {logic_and}") 
logic_or = a or b;             print(f"({a} or {b}) = {logic_or}")         
logic_not = not a;             print(f"(not {a}) = {logic_not}")

((4+3j) and (3+4j)) = (3+4j)
((4+3j) or (3+4j)) = (4+3j)
(not (4+3j)) = False

In [90]:
# 9.1 실수와 정수 연산
a, b = 21.5, 3

# arithmetic operations
addition = a + b;         print(f"{a} + {b} = {addition}")            
subtraction = a - b;      print(f"{a} - {b} = {subtraction}")        
multiplication = a * b;   print(f"{a} * {b} = {multiplication}")      
division = a / b;         print(f"{a} / {b} = {division}")            
exponentiation = a ** b;  print(f"{a} ** {b} = {exponentiation}")

21.5 + 3 = 24.5
21.5 - 3 = 18.5
21.5 * 3 = 64.5
21.5 / 3 = 7.166666666666667
21.5 ** 3 = 9938.375

In [91]:
# 9.2 실수와 정수 연산
a, b = 21.5, 3

# comparative operations
equal = a == b;               print(f"({a} == {b}) = {equal}")                     
not_equal = a != b;           print(f"({a} != {b}) = {not_equal}")               
less_than = a < b;            print(f"({a} < {b}) = {less_than}")              
greater_than = a > b;         print(f"({a} > {b}) = {greater_than}")             
less_than_or_equal = a <= b;  print(f"({a} <= {b}) = {less_than_or_equal}")      
greater_than_or_equal = a >= b; print(f"({a} >= {b}) = {greater_than_or_equal}")

(21.5 == 3) = False
(21.5 != 3) = True
(21.5 < 3) = False
(21.5 > 3) = True
(21.5 <= 3) = False
(21.5 >= 3) = True

In [92]:
# 10.1 실수와 복소수 연산
a, b = 3+2j, 12.5

# arithmetic operations
addition = a + b;         print(f"{a} + {b} = {addition}")            
subtraction = a - b;      print(f"{a} - {b} = {subtraction}")        
multiplication = a * b;   print(f"{a} * {b} = {multiplication}")      
division = a / b;         print(f"{a} / {b} = {division}")            
exponentiation = a ** b;  print(f"{a} ** {b} = {exponentiation}")

(3+2j) + 12.5 = (15.5+2j)
(3+2j) - 12.5 = (-9.5+2j)
(3+2j) * 12.5 = (37.5+25j)
(3+2j) / 12.5 = (0.24+0.16j)
(3+2j) ** 12.5 = (4425800.815086066+8025878.62320465j)

In [93]:
# 10.2 실수와 복소수 연산
a, b = 3+2j, 12.5

# comparative operations
equal = a == b;               print(f"({a} == {b}) = {equal}")                     
not_equal = a != b;           print(f"({a} != {b}) = {not_equal}")

((3+2j) == 12.5) = False
((3+2j) != 12.5) = True

## String

In [94]:
# 11
string1 = "Python's favorite food is perl"
print(string1)

Python's favorite food is perl

In [95]:
# 12
string2 = '"Python is very easy." he says.'
print(string2)

"Python is very easy." he says.

In [96]:
# 13
string3 = """"Python is very easy." he says."""
print(string3)

"Python is very easy." he says.

In [11]:
# M7
# review라는 변수에
# He says "Today's sales are very good." 이라는 영어 문장을 할당하고,
# 출력하는 코드를 작성하시오. (0.2점)
review = '''He says "Today's sales are very good."'''
print(review)

He says "Today's sales are very good."

In [12]:
# 14
string4 = '''Dear Professor, 
My name is Jong-Chan. 
Nice to see you. ''' 
print(string4)

Dear Professor,
My name is Jong-Chan.
Nice to see you.

In [13]:
# 15
string5 = """Dear Professor, 
My name is Jong-Chan. 
Nice to see you. """ 
print(string5)

Dear Professor,
My name is Jong-Chan.
Nice to see you.

In [14]:
# M8
# phrase라는 변수에 
# "All grown-ups were once children. But, only few of them remember it."을 
# ','에서 줄바꿈이 되도록 저장하고 출력하는 코드를 작성하시오. (0.2점)
phrase = '''"All grown-ups were once children. But,
only few of them remember it."'''
print(phrase)

"All grown-ups were once children. But,
only few of them remember it."

In [19]:
# 16
myName = "Kyungran"
mySurname = "Kang"
myFullname = myName + " " + mySurname
print(myFullname)

Kyungran Kang

In [16]:
# M9
# 16번 코드를 복사해 와서 본인의 이름을 성과 이름으로 구분하여 정의하고 결합해서 하나의 string으로 만드시오. (0.1점)
myName = "Sangwoo"
mySurname = "Joo"
myFullname = myName + " " + mySurname
print(myFullname)

Sangwoo Joo

In [20]:
# 17
myAge = 20
full_str  = myFullname + " is " + str(myAge)
print(full_str)

Kyungran Kang is 20

In [17]:
# M10 
# 17번 코드를 복사해서 본인의 이름과 나이를 반영해서 수정하시오.(0.1점)
myAge = 22
full_str  = myFullname + " is " + str(myAge)
print(full_str)

Sangwoo Joo is 22

In [21]:
# 18
header = 20 * "=^"
print (header)

=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^=^

In [24]:
# M11 
# *-가 15번 반복되는 string을 만들어 출력하시오.(0.1점)
tmpstr = 15 * "*-"
print(tmpstr)

*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-

## range

In [35]:
# 19
a = range(10)
print(a[3])

range(0, 10)

In [34]:
# 20
8 in a
11 in a

False

In [38]:
# M12 
# 2에서 20까지의 range 변수 aa를 정의하고 
# 네 번째 요소를 출력하고, 
# 12가 aa에 포함되었는지 출력하는 코드를 작성하시오.(0.3점)
aa = range(2, 20, 2) # aa에는 2 4 6 8 10 12 24 16 18 이 들어감.
print(aa[3])
print(12 in aa)

8
True

In [39]:
# 21
b = range(1, 20, 2)
print(b[2])

5

In [40]:
# 22
12 in b
13 in b

True

In [45]:
# M13 
# 3에서 25까지의 3의 배수를 담은 range인 변수 bb를 정의하고 
# 다섯 번째 요소를 출력하고, 
# 9가 bb에 포함되었는지 확인하시오. (0.3점)
# 3 6 9 ... 24를 포함해야함.
bb = range(3, 25, 3)
print(bb[4])
print(9 in bb)

15
True

In [46]:
# 23
c=range(0, -10, -2)
print(c[2])

-4

In [114]:
# 24
-2 in c
-5 in c

False

In [49]:
# M14 
# 10부터 -10 사이의 홀수를 담은 range인 변수 cc를 정의하고, 
# 세 번째 요소를 출력하고,
# -3이 cc에 포함되었는지 확인하시오. (0.3점)
cc = range(9, -10, -2)
print(cc[2])
print(-3 in cc)

5
True